ABOUT-NLS
Makefile.in
/missing
/config.*
/INSTALL
/aclocal.m4
/autom4te.cache/
/configure
/build/
/depcomp
/install-sh
/ltmain.sh
.*.swp
*.aux
*.log
*.pdf
Makefile.in.in
Rules-quot
boldquot.sed
en@boldquot.header
en@quot.header
insert-header.sin
quot.sed
remove-potcdate.sin
